.homepage-greeting{
    padding-top: 50px;
}
.headshot{
    height: 250px;
    border-radius: 50%;
    padding: 15px;
}

.homepage-text{ 
    padding: 15px;
}

.homepage-text-title{
    padding: 10px;
}

.home-links{
    background-color: white;
    color: black;
    border: 2px solid aliceblue;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px;
}

.ending-tagline {
    padding: 45px;
}