.title {
    padding-top: 50px;
    padding-bottom: 10px;
}

.tech-section{
    padding-top: 20px;
    margin: 15px;
}

.tech-logo{
    height: 50px;
    width: 50px;
    margin: 15px;
}

.project-section{
    padding-top: 20px;
}

.project-section-title{ 
    padding-bottom: 20px
}

